* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#head {
  width: 100%;
  height: 60px;
  background-color: #111;
}

#head img {
  width: calc(70% - 56%);
  margin-left: 5%;
  transform: scale(1.1);
  background: none;
}

@media (max-width: 800px) {
  #head img {
    width:200px;
  }
}

@media (max-width: 400px) {
  #head img {
    width: calc(170% - 350px);
  }
}

.parallax {
  background: url(./images/portrait-beautiful-young-asian-woman-with-shopping-bag-credit-card-yellow.jpg);
  min-height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgb(188, 144, 66);
  background-attachment: fixed;

}

@media (max-width: 600px) {
  .parallax {
    background-position: center;
    min-height: 570px;
  }
}

.parallax h3 {
  color: #000;
  font-size: 45px;
  margin-top: 200px;
  position: absolute;
  margin-left: 30px;
  font-weight: bolder;
}

.parallax h3 span {
  text-decoration: underline #fff 2px;
  animation-name: text;
  color: red;
  animation-duration: 2s;
  /* animation-duration: initial; */
  font-weight: 1000px;
}

.parallax p {
  color: #fff;
  font-size: 25px;
  margin-top: 330px;
  position: absolute;
  margin-left: 30px;
  opacity: 30px;
}

.parallax b {
  color: #fff;
  margin-top: 470px;
  position: absolute;
  margin-left: 70px;
  font-size: 30px;
}

/* ==== text responsiveness ===== */

@media (max-width: 600px) {
  .parallax h3 {
    font-size: 25px;
    color: #111;
  }

  .parallax p {
    color: #000;
    font-size: 20px;
    margin-top: 300px;
  }

  .parallax b {
    margin-top: 350px;
    font-size: 25px;
    margin-left: 35px;
  }
}


/* ====== input design ===== */
.input-group {
  display: flex;
  align-items: center;
  margin-top: 530px;
  margin-left: 40px;
  position: absolute;
}

.input {
  min-height: 50px;
  width: 150%;
  padding: 0 2rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid red;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  max-width: 100%;
  padding: .5em 3em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: red;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
  border-color: #3898EC;
  outline: none;
}

@media (max-width: 600px) {
  .input-group {
    flex-wrap: wrap;
    margin-left: 40px;
  }

  .input {
    width: 100%;
    max-width: initial;
    margin-bottom: 10px;
    margin-top: -200px;
  }

  .button--submit {
    width: 80%;
    margin-top: -128px;
  }
}


/* ====== coming soon =====  */

.section {
  height: 1000px;
  background-color: #111;
  font-size: 36px;
  background:url(./images/coming-soon.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-color: rgb(0,0,0,0.1);
  background-blend-mode: darken;
}
.section .coming{
  margin-left: 870px;
  margin-top: 400px;
  position: absolute;
}
/* ====== countdown ====== */

#wrapper {
  display: flex;
  flex-wrap: nowrap;
  max-width: 1200px; /* set a maximum width for larger screens */
}
#wrapper > div {
  flex: 1;
  text-align: center;
margin: 10px;
width: 100px;
padding: 15px 0;
background: rgba(255, 255, 255, 0.12);
border-top: 5px solid #ff0000;
}
#card1, #card2, #card3, #card4 {
  width: 100px;
}
@media only screen and (max-width: 1370px) {
  .section{
    background: url(./images/mobile.jpg);
    background-position: center;
    background-size: cover;
  }
  .section .coming{
    /* display: none; */
    font-size: 25px;
    margin-left: 2px;
  }
  .section .coming p{
    font-size: 27px;
  }
  #wrapper {
    flex-wrap: wrap; /* change layout to vertical */
    max-width: 100%; /* remove maximum width */
  }
  #card1, #card2, #card3, #card4 {
    width: 100%; /* change width to 100% for smaller screens */
  }
}




/* ========= About ============ */

.about {
  height: 500px;
  background-color: #111;
  font-size: 36px;
  background:url(./images/mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-color: rgb(0,0,0,0.8);
  background-blend-mode: darken;
 text-align: center;
 font-size: 20px;
 line-height: 40px;
 color: #fff;
}
.about h1{
  text-decoration: underline red 10px;
  margin-bottom: 20px;
}
.about p{
  width: 80rem;
  display: block;
  margin: auto;
  opacity: 20px;
}
@media only screen and (max-width: 868px) {
  .about{
    height: 810px;
  }
  .about p {
    width: 30rem;
    font-size:1rem;
}
}
